.display-style {
	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: inset 0px 4px 4px #00000040;
}

.buttons-style {
	width: 30px;
	height: 20px;
	border-radius: 2px;

	background: #b4b4b4;
	box-shadow: 0px 4px 4px #00000040;

	cursor: pointer;
}

.buttons-style:hover {
	background-color: #8b8b8b;
}

.container-buttons-left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

#display-frame {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 404px;
	height: 282px;

	background: #5b5b5b;
	border-radius: 4px;
}

.container-buttons-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

#border {
	width: 314px;
	height: 254px;

	background: #1a1717;
}

#display {
	width: 295px;
	height: 239px;

	background: #abb6b3;
}
