body {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;

	background: #7e7e7e;
}

.atm-body {
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
	align-items: center;

	height: 550px;
	width: 443px;
	border-radius: 20px;

	background: #af0101;
	box-shadow: 0px 4px 4px #00000040;
}

.container-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.container-top {
	display: flex;
	align-items: center;
	justify-content: center;
}
